openapi: 3.1.0
info:
  title: Adventrya Admin API
  version: 0.1.0
  description: Initial production integration contract for the approved Admin prototype.
servers:
  - url: https://api.adventrya.com/v1
    description: Production placeholder
  - url: http://localhost:4000/v1
    description: Local development
security:
  - cookieSession: []
paths:
  /admin/overview:
    get:
      operationId: getAdminOverview
      parameters:
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
      responses:
        "200":
          description: Operational summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OverviewResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /admin/orders:
    get:
      operationId: listAdminOrders
      parameters:
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - name: query
          in: query
          schema:
            type: string
        - name: purchaseType
          in: query
          schema:
            $ref: "#/components/schemas/PurchaseType"
        - name: paymentStatus
          in: query
          schema:
            type: string
        - name: generationStatus
          in: query
          schema:
            type: string
        - name: printStatus
          in: query
          schema:
            type: string
        - name: deliveryStatus
          in: query
          schema:
            type: string
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Paginated orders
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/OrderSummary"
                  nextCursor:
                    type: [string, "null"]
  /admin/orders/{orderId}:
    get:
      operationId: getAdminOrder
      parameters:
        - $ref: "#/components/parameters/OrderId"
      responses:
        "200":
          description: Complete authorized order view
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderDetail"
        "404":
          $ref: "#/components/responses/NotFound"
  /admin/orders/{orderId}/print-approval:
    post:
      operationId: approvePrintAsset
      parameters:
        - $ref: "#/components/parameters/OrderId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [printAssetId, expectedSha256]
              properties:
                printAssetId:
                  type: string
                expectedSha256:
                  type: string
                  pattern: "^[a-fA-F0-9]{64}$"
      responses:
        "201":
          description: Print asset approved and Print Job routed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrintJob"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
  /admin/orders/{orderId}/courier-shipments:
    post:
      operationId: createCourierShipment
      parameters:
        - $ref: "#/components/parameters/OrderId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCourierShipment"
      responses:
        "200":
          description: Existing idempotent shipment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CourierShipment"
        "201":
          description: Shipment created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CourierShipment"
        "409":
          $ref: "#/components/responses/Conflict"
  /admin/generation-jobs:
    get:
      operationId: listGenerationJobs
      parameters:
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - name: status
          in: query
          schema:
            type: string
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Generation queue
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/GenerationJob"
                  nextCursor:
                    type: [string, "null"]
  /admin/generation-jobs/{jobId}/retry:
    post:
      operationId: retryGenerationJob
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "202":
          description: Retry queued
        "409":
          $ref: "#/components/responses/Conflict"
  /admin/print-jobs:
    get:
      operationId: listAdminPrintJobs
      parameters:
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/PrintJobStatus"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Print jobs
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/PrintJob"
  /partner/print-jobs:
    get:
      operationId: listPartnerPrintJobs
      description: Returns only jobs assigned to the authenticated partner.
      responses:
        "200":
          description: Partner-safe jobs without prohibited PII
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/PartnerPrintJob"
  /partner/print-jobs/{printJobId}/status:
    post:
      operationId: updatePartnerPrintJobStatus
      parameters:
        - name: printJobId
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  $ref: "#/components/schemas/PrintJobStatus"
      responses:
        "200":
          description: Updated job
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartnerPrintJob"
        "409":
          $ref: "#/components/responses/Conflict"
  /admin/customers:
    get:
      operationId: listAdminCustomers
      parameters:
        - name: query
          in: query
          schema:
            type: string
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Authorized customer summary list
  /admin/promotions:
    get:
      operationId: listPromotions
      responses:
        "200":
          description: Promotion list
    post:
      operationId: createPromotion
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "201":
          description: Promotion created
  /admin/audit-events:
    get:
      operationId: listAuditEvents
      parameters:
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - name: severity
          in: query
          schema:
            type: string
            enum: [info, success, warning, danger]
        - name: query
          in: query
          schema:
            type: string
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Append-only audit event list
components:
  securitySchemes:
    cookieSession:
      type: apiKey
      in: cookie
      name: adventrya_admin_session
  parameters:
    From:
      name: from
      in: query
      schema:
        type: string
        format: date
    To:
      name: to
      in: query
      schema:
        type: string
        format: date
    Cursor:
      name: cursor
      in: query
      schema:
        type: string
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    OrderId:
      name: orderId
      in: path
      required: true
      schema:
        type: string
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        minLength: 8
        maxLength: 200
  schemas:
    PurchaseType:
      type: string
      enum: [DIGITAL, PRINTED_DIGITAL, PRINT_UPGRADE]
    Money:
      type: object
      required: [amountMinor, currency]
      properties:
        amountMinor:
          type: integer
        currency:
          type: string
          enum: [GEL]
    PrintJobStatus:
      type: string
      enum:
        - READY_FOR_REVIEW
        - SENT
        - ACCEPTED
        - PRINTING
        - QUALITY_CHECK
        - PACKED
        - READY_FOR_PICKUP
        - COMPLETED
        - EXCEPTION
    OverviewResponse:
      type: object
      required: [metrics, attentionItems, recentOrders]
      properties:
        metrics:
          type: object
          additionalProperties: true
        attentionItems:
          type: array
          items:
            type: object
            additionalProperties: true
        recentOrders:
          type: array
          items:
            $ref: "#/components/schemas/OrderSummary"
    OrderSummary:
      type: object
      required:
        - id
        - publicOrderNumber
        - bookTitle
        - parentName
        - purchaseType
        - total
        - paymentStatus
        - generationStatus
        - printStatus
        - deliveryStatus
        - createdAt
      properties:
        id:
          type: string
        publicOrderNumber:
          type: string
        bookTitle:
          type: string
        childDisplayName:
          type: string
        parentName:
          type: string
        parentEmail:
          type: string
          format: email
        parentPhone:
          type: string
        purchaseType:
          $ref: "#/components/schemas/PurchaseType"
        total:
          $ref: "#/components/schemas/Money"
        paymentStatus:
          type: string
        generationStatus:
          type: string
        printStatus:
          type: string
        deliveryStatus:
          type: string
        createdAt:
          type: string
          format: date-time
    OrderDetail:
      allOf:
        - $ref: "#/components/schemas/OrderSummary"
        - type: object
          properties:
            book:
              type: object
              additionalProperties: true
            payment:
              type: object
              additionalProperties: true
            deliveryAddress:
              type: object
              additionalProperties: true
            generationJobs:
              type: array
              items:
                $ref: "#/components/schemas/GenerationJob"
            printJob:
              oneOf:
                - $ref: "#/components/schemas/PrintJob"
                - type: "null"
            courierShipment:
              oneOf:
                - $ref: "#/components/schemas/CourierShipment"
                - type: "null"
    GenerationJob:
      type: object
      required: [id, orderId, status, attempts, createdAt]
      properties:
        id:
          type: string
        orderId:
          type: string
        status:
          type: string
        attempts:
          type: integer
        errorCode:
          type: [string, "null"]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    PrintAssetSnapshot:
      type: object
      required: [id, version, fileName, sha256, sizeBytes]
      properties:
        id:
          type: string
        version:
          type: string
        fileName:
          type: string
        sha256:
          type: string
        sizeBytes:
          type: integer
        signedDownloadUrl:
          type: string
          format: uri
          description: Short-lived and authorized URL.
    PrintJob:
      type: object
      required: [id, orderId, status, dueAt, approvedAsset]
      properties:
        id:
          type: string
        orderId:
          type: string
        status:
          $ref: "#/components/schemas/PrintJobStatus"
        partnerId:
          type: string
        dueAt:
          type: string
          format: date-time
        approvedAsset:
          $ref: "#/components/schemas/PrintAssetSnapshot"
        version:
          type: integer
          description: Optimistic concurrency version.
    PartnerPrintJob:
      type: object
      description: Production-only DTO with prohibited PII removed.
      required: [id, publicOrderNumber, bookTitle, quantity, status, dueAt, approvedAsset]
      properties:
        id:
          type: string
        publicOrderNumber:
          type: string
        bookTitle:
          type: string
        quantity:
          type: integer
        technicalSpecification:
          type: object
          additionalProperties: true
        status:
          $ref: "#/components/schemas/PrintJobStatus"
        dueAt:
          type: string
          format: date-time
        approvedAsset:
          $ref: "#/components/schemas/PrintAssetSnapshot"
    CreateCourierShipment:
      type: object
      required: [recipientName, phone, address, pickupLocation, package]
      properties:
        recipientName:
          type: string
        phone:
          type: string
        address:
          type: object
          additionalProperties: true
        deliveryNote:
          type: string
        pickupLocation:
          type: string
        package:
          type: object
          required: [quantity, weightGrams]
          properties:
            quantity:
              type: integer
              minimum: 1
            weightGrams:
              type: integer
              minimum: 1
    CourierShipment:
      type: object
      required: [id, printJobId, status, idempotencyKey, createdAt]
      properties:
        id:
          type: string
        printJobId:
          type: string
        status:
          type: string
        idempotencyKey:
          type: string
        externalOrderId:
          type: [string, "null"]
        trackingId:
          type: [string, "null"]
        createdAt:
          type: string
          format: date-time
  responses:
    Unauthorized:
      description: Authentication required
    Forbidden:
      description: Permission denied
    NotFound:
      description: Resource not found
    Conflict:
      description: Invalid state transition, duplicate, or version conflict
    ValidationError:
      description: Request or asset validation failed
